---
import Layout from "@/layouts/layout.astro";
import { getTrainings } from "@/api";

const trainings = await getTrainings();
---

<Layout title="Campus">
  <h1 class="text-2xl font-bold mb-4">Listado de cursos</h1>
  <ul class="space-y-4">
    {
      trainings.map((training) => (
        <li class="p-4 border rounded">
          <h2 class="text-xl font-semibold">{training.title}</h2>
          <p>{training.overview}</p>
        </li>
      ))
    }
  </ul>
</Layout>
