---
import type { Lesson } from "@/api";

export interface Props {
  lessons: Lesson[];
  trainingSlug: string;
  currentLessonSlug: string;
}

const { lessons, trainingSlug, currentLessonSlug } = Astro.props;
---

<div
  class="bg-white rounded-2xl shadow-md p-4 space-y-2 border border-gray-200"
>
  <h3 class="text-lg font-medium mb-2 text-gray-800">Lessons</h3>
  {
    lessons.map((lesson) => (
      <a
        href={`/training/${trainingSlug}/${lesson.slug}`}
        class={`block w-full text-left px-4 py-2 rounded-lg transition text-sm border ${
          lesson.slug === currentLessonSlug
            ? "bg-gray-100 text-blue-600 font-semibold"
            : "text-gray-700 hover:bg-gray-100 hover:border-gray-300"
        }`}
      >
        {lesson.title}
      </a>
    ))
  }
</div>
